{% load staticfiles %}
<html>
    <head>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <title>Georgiana's blog</title>
    </head>
    <body>
       <div class="page-header">
    <h1><a href="/">Django Girls Blog</a></h1>
</div>
        
<img src="https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/20799559_10213179987231283_2637989278318271440_n.jpg?_nc_cat=0&oh=f1049bcc5b7cab8af3a5be9bf38fff9d&oe=5BAF229D" alt="Georgiana">
       <div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>published: {{ post.published_date }}</p>
                    </div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    </body>
</html>